@page "/films"
@using BlazorWebAssemblySakilaApp.Components
@using Microsoft.AspNetCore.Authorization
@inject ApiFilmService Api
@attribute [Authorize]

<h3>Films</h3>

@if (films == null)
{
    <p>Loading films...</p>
}
else
{
    <FilmTable Films="@films">

        <HeaderTemplate>
            <th>Title</th>
            <th>Description</th>
            <th>Release Year</th>
            <th>Rating</th>
        </HeaderTemplate>

        <RowTemplate Context="film">
            <td>@film.Title</td>
            <td>@film.Description</td>
            <td>@film.ReleaseYear</td>
            <td>@film.Rating</td>
        </RowTemplate>
    </FilmTable>
}


@code {
    private List<Film> films;

    protected override async Task OnInitializedAsync()
    {
        films = await Api.GetAllAsync();
    }


}
