@page "/films"
@using BlazorWebAssemblySakilaApp.Components
@using Microsoft.AspNetCore.Authorization
@inject ApiFilmService Api
@attribute [Authorize]

<h3>Films</h3>

<SearchBar OnSearch="Search" />


<Loading Items="@films">

    <GenericTable Items="@films">        
        <HeaderTemplate>
            <th>Title</th>
            <th>Description</th>
            <th>Release Year</th>
            <th>Rating</th>
        </HeaderTemplate>

        <RowTemplate Context="film">
            <td>@film.Title</td>
            <td>@film.Description</td>
            <td>@film.ReleaseYear</td>
            <td>@film.Rating</td>
        </RowTemplate>
    </GenericTable>
</Loading>


@code {
    private List<Film> films;

    private async void Search(string searchText)
    {
        films = null;

        films = await Api.GetByFilter(searchText);

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        films = await Api.GetAllAsync();
    }


}
